<div class="flex items-center justify-between w-full py-3 px-5 bg-white border-b-2 border-slate-200 z-0">
    <div class="text-center">
        <h1 class="text-3xl font-serif">RK</h1>
    </div>

    <nav class="flex gap-5">
        <a href="#" class="hover:text-turquoise-blue-400">Home</a>
        <a href="#" class="hover:text-turquoise-blue-400">About</a>
        <a href="#" class="hover:text-turquoise-blue-400">Projects</a>
        @if (blogActive) {
            <a href="#" class="hover:text-turquoise-blue-400">Blog</a>
        }
        <a href="#" class="hover:text-turquoise-blue-400">Contact</a>
        <!-- <app-dropdown></app-dropdown> -->
    </nav>
</div>
