<div class="flex items-center justify-between w-full py-3 px-5 bg-white border-b-4 border-slate-300 z-0">
    <div class="text-3xl font-bold">
        <h1>MyApp</h1>
    </div>

    <nav class="flex gap-5">
        <a href="#" class="hover:text-turquoise-blue-400">Link 1</a>
        <a href="#" class="hover:text-turquoise-blue-400">Link 2</a>
        <a href="#" class="hover:text-turquoise-blue-400">Link 3</a>
        <a href="#" class="hover:text-turquoise-blue-400">Link 4</a>
        <app-dropdown></app-dropdown>
    </nav>
</div>
