<app-navbar></app-navbar>
<app-jumbotron></app-jumbotron>
<app-about></app-about>
<app-featured></app-featured>
<app-contact></app-contact>

<!-- <div class="text-center mx-5 pt-5">
    <h2 class="text-3xl">Blog Posts</h2>
    <div class="flex mt-5 justify-center mb-10">
        <div class="bg-white rounded-md border-2 border-l-gray-400 border-b-gray-400 w-1/3 p-5 mx-3">
          <h1 class="text-2xl text-turquoise-blue-500 font-medium mb-2 text-center">Blog 1</h1>
          <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet erat nec tellus pellentesque, ut mattis nisi imperdiet. Aenean sodales luctus ultricies. Morbi eget imperdiet sapien, ac gravida arcu. Fusce efficitur fermentum suscipit. Proin quam tortor, gravida id massa eu, volutpat congue sem. Nulla ipsum justo, eleifend fermentum diam ut, auctor fermentum dui. Sed iaculis nulla nec velit fringilla eleifend. Duis consectetur ac nibh eu hendrerit. Etiam vel nunc pharetra, dictum metus non, placerat odio. Etiam lobortis massa tincidunt, commodo dolor ut, accumsan lacus. </p>
        </div>

        <div class="bg-white rounded-md border-2 border-l-gray-400 border-b-gray-400 w-1/3 p-5 mx-3">
          <h1 class="text-2xl text-turquoise-blue-500 font-medium mb-2 text-center">Blog 2</h1>
          <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet erat nec tellus pellentesque, ut mattis nisi imperdiet. Aenean sodales luctus ultricies. Morbi eget imperdiet sapien, ac gravida arcu. Fusce efficitur fermentum suscipit. Proin quam tortor, gravida id massa eu, volutpat congue sem. Nulla ipsum justo, eleifend fermentum diam ut, auctor fermentum dui. Sed iaculis nulla nec velit fringilla eleifend. Duis consectetur ac nibh eu hendrerit. Etiam vel nunc pharetra, dictum metus non, placerat odio. Etiam lobortis massa tincidunt, commodo dolor ut, accumsan lacus. </p>
        </div>

        <div class="bg-white rounded-md border-2 border-l-gray-400 border-b-gray-400 w-1/3 p-5 mx-3">
          <h1 class="text-2xl text-turquoise-blue-500 font-medium mb-2 text-center">Blog 3</h1>
          <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet erat nec tellus pellentesque, ut mattis nisi imperdiet. Aenean sodales luctus ultricies. Morbi eget imperdiet sapien, ac gravida arcu. Fusce efficitur fermentum suscipit. Proin quam tortor, gravida id massa eu, volutpat congue sem. Nulla ipsum justo, eleifend fermentum diam ut, auctor fermentum dui. Sed iaculis nulla nec velit fringilla eleifend. Duis consectetur ac nibh eu hendrerit. Etiam vel nunc pharetra, dictum metus non, placerat odio. Etiam lobortis massa tincidunt, commodo dolor ut, accumsan lacus. </p>
        </div>
    </div>
    <button>View All</button>
</div> -->

<app-footer></app-footer>
