<div class="relative flex justify-center items-center border-2 z-0 h-[90vh]">
  <div class="absolute inset-0 bg-cover bg-center opacity-50"
       [style.backgroundImage]="'url(20241026_112609.jpg)'"></div>
  <div class="relative z-10 text-center">
    <h1 class="text-7xl font-serif font-semibold">{{title}}</h1>
    <p class="text-lg pt-3">{{subtitle}}</p>

    <div class="mt-3">
      <button>Download Resume</button>
      <button class="ml-2 bg-turquoise-blue-500">
        Contact
      </button>
    </div>
  </div>
</div>
