<!-- <h1 class="text-3xl font-bold underline">Hello World!!</h1>

<div>
  <button>I am a button.</button>
  <input placeholder="Input placeholder" />
</div>

<div class="flex mt-5 justify-center">
    <div class="bg-white rounded-md border-2 border-turquoise-blue-300 w-1/2 p-5">
      <h1 class="text-xl text-turquoise-blue-500 font-medium mb-5">An Important Alert</h1>
      <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet erat nec tellus pellentesque, ut mattis nisi imperdiet. Aenean sodales luctus ultricies. Morbi eget imperdiet sapien, ac gravida arcu. Fusce efficitur fermentum suscipit. Proin quam tortor, gravida id massa eu, volutpat congue sem. Nulla ipsum justo, eleifend fermentum diam ut, auctor fermentum dui. Sed iaculis nulla nec velit fringilla eleifend. Duis consectetur ac nibh eu hendrerit. Etiam vel nunc pharetra, dictum metus non, placerat odio. Etiam lobortis massa tincidunt, commodo dolor ut, accumsan lacus. </p>

      <div class="mt-3">
        <button>Confirm</button>
        <button class="ml-2 bg-transparent border-2 border-turquoise-blue-400 text-turquoise-blue-400">Cancel</button>
      </div>
    </div>
</div> -->

<app-navbar></app-navbar>
<app-jumbotron></app-jumbotron>
<!-- <div class="jumbotron jumbotron-fluid"> 
  <div class="container"> 
      <h1 class="display-4">Fluid jumbotron</h1> 
      <p class="lead"> 
          This is a modified jumbotron that  
          occupies the entire horizontal  
          space of its parent. 
      </p> 
  </div> 
</div>  -->