<div class="text-center pt-5">
    <h2 class="text-3xl">Interested in Working Together?</h2>
    <p class="text-muted">
    Please fill out the form below
    </p>
  <div class="row justify-content-center">
    <form action="{{getFormEndpoint}}" method="POST" class="col-md-7">
      <div class="form-group">
        <input
          type="text"
          name="name"
          placeholder="Name"
          class="form-control my-2"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="email"
          placeholder="Email"
          class="form-control my-2"
          required
        />
      </div>
      <div class="form-group">
        <textarea
          name="message"
          placeholder="Message"
          rows="10"
          class="form-control my-2"
          required
        ></textarea>
      </div>
      <button
        type="submit"
        class="p-2"
      >
        Submit
      </button>
    </form>
  </div>
</div>

